$montserrat-bold: Montserrat-Bold, sans-serif;
$montserrat-regular: ﻿Montserrat-Regular, ﻿sans-serif;
$open-sans-bold: ﻿OpenSans-Bold, sans-serif;
$open-sans: OpenSans, ﻿Helvetica, sans-serif;
$red-color: rgba(240, 69, 76, 255);
$light-gray-color: rgba(154, 160, 171, 255);
$dark-gray-color: rgba(49, 74, 91, 255);
$lighter-gray-color: rgba(185, 192, 198, 255);
$black-color: rgba(38, 55, 66, 255);
$white-color: rgba(255, 255, 255, 255);
$blue-color: #314a5b;