.button{
	padding: 20px 42px;
	border: none;
	border-radius: 10px;
	color: $white-color;
	background-color: $red-color;
	font-family: $open-sans-bold;
	font-size: 14px;
	font-weight: 550;
	&--hovered:hover {
	color: $red-color;
	background-color: $light-gray-color;
	}
}

@media (max-width: 550px) {
	.button{
		padding: 15px 22px;
	}
}