.text-block__title{
    @include text-size-lg (250px, 25px);
}
.text-block__title--red-dot{
    @include text-size-lg (250px, 25px);
    @include element-after;
}

.text-block__sub-title{
    @include text-size-md (350px, 5px 0px, $open-sans, $dark-gray-color);
}
.text-block__sub-title--red{
    @include text-size-md (350px, 5px 0px, $open-sans, $red-color);
}

.text-block__paragraph{
    @include text-size-sm;
}

.text-block__anchor{
    font:{
    size: 15px;
    family:$open-sans-bold;
    }
    color: $red-color;
    text-align: left;
    text-decoration:none;
    text-transform: uppercase;
    font-weight: 550;
    @include arrow;
}